.advantages {
  margin-bottom: 42px;
}

.advantages__bg {
  background-color: #f2f2f2;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;  
}

.advantages__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 40px 0 30px;
  background-color: @second-color;
}

.advantages__slogan {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 300;
  color: @primary-color;
}

.advantages__slogan--second {
    margin-bottom: 0;
}

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding-top: 85px;
}

.advantages__list {
  .list-mixin;
}

@media (min-width: @tablet-width) {
  .advantages {
    margin-bottom: 115px;
  }

  .advantages__header {
    padding: 50px 0;
  }

  .advantages__slogan {
    font-size: 40px;
    margin: 0 auto;
  }

  .advantages__slogan--second {
    width: 350px;
  }

  .advantages__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 76px;
  }

  .advantages__list {
    .list-mixin;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 0;
  }

  .advantages__header {
    padding-top: 65px;
    padding-bottom: 85px;
  }

  .advantages__wrapper {
    flex-direction: column;
    padding: 0;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__slogan {
    font-size: 50px;
    margin: 0 auto;
  }

  .advantages__slogan--second {
    width: 430px;
  }
}
