.best-photo__image {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .best-photo__image {
    height: 509px;
  }
}

@media (min-width: @desktop-width) {
  .best-photo__image {
    height: 506px;
  }
}
