.contacts {
  color: @primary-color;
  margin-bottom: 15px;
}

.contacts__title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 38px;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contacts__way {
  margin: 0;
  font-weight: bold;
  margin-bottom: 26px;
  text-align: center;
}

.contacts__info {
  display: block;
  font-size: 24px;
  color: @third-color;
  font-weight: 300;
  margin-top: 5px;
}

.contacts__info-mail {
  &:hover {
    color: @primary-color;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .contacts__title {
    font-size: 40px;
    margin: 0 auto 49px;
    width: 370px;
  }

  .contacts__wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .contacts__way {
    width: 237px;
    margin-bottom: 51px;

    &:first-child {
      margin-right: 87px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts {
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    margin-bottom: 0;
  }

  .contacts__title {
    font-size: 50px;
    margin: 0 auto 63px;
    width: 465px;
  }

  .contacts__way:first-child {
    margin-right: 0;
  }

  .contacts__way--change-order {
    order: 1;
  }

  .contacts__wrapper {
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 31px;
    padding-right: 33px;
  }

  .contacts__info {
    margin-top: 25px;
  }
}
