.editor {
  background-color: #f2f2f2;
}

.editor__wrapper {
  padding: 20px 0 43px;
}

.editor__title {
  font-size: 14px;
  line-height: 30px;
  color: @primary-color;
  font-weight: normal;
  text-align: center;
  padding: 0 80px 40px;
  margin: 0 auto;
  background-color: #ffffff;
}

.editor__picture {
  margin: 0;
  margin-bottom: 38px;
}

.editor__tools-list {
  .list-mixin;
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 110px;
}

.editor__crop {
  position: relative;

  &:hover {
    svg {
      fill: rgba(40, 54, 69, 0.5);
    }
  }
}

.editor__crop-image {
  fill: @third-color;
}

.editor__fill:hover .editor__fill-image {
  fill: rgba(40, 54, 69, 0.5);
}

.editor__fill-image {
  fill: rgba(40, 54, 69, 0.3);
}

.editor__contrast:hover .editor__contrast-image {
  fill: rgba(40, 54, 69, 0.5);
}

.editor__contrast-image {
  fill: rgba(40, 54, 69, 0.3);
}

.editor__crop-control {
  position: absolute;
  width: 240px;
  left: -21px;
  height: 2px;
  background-color: @primary-color;
  margin-top: 37px;
}

.editor__control-toggle {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid @third-color;
  border-radius: 50%;
  background-color: #f2f2f2;

  &:active {
    background-color: @third-color;
  }
}

.editor__control-toggle--crop {
  top: -6px;
  right: 35px;
}

.editor__fill-control {
  display: none;
}

.editor__contrast-control {
  display: none;
}

.editor__contrast {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 115px;
    right: -60px;
    width: 320px;
    height: 1px;
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.editor__button-post {
  width: 100%;
  border: none;
  color: @third-color;
  box-shadow: inset 0 0 0 3px @third-color;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    color: @second-color;
    background-color: @third-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.editor__button-cancel {
  width: 100%;
  border: none;
  color: rgba(40, 54, 69, 0.1);
  box-shadow: inset 0 0 0 3px rgba(40, 54, 69, 0.1);
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(40, 54, 69, 0.3);
    box-shadow: inset 0 0 0 3px rgba(40, 54, 69, 0.3);
    background-color: transparent;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(40, 54, 69, 0.3);
    box-shadow: none;
  }
}

@media (min-width: @tablet-width) {
  .editor__title {
    .font-mixin;
    padding-bottom: 69px;
  }

  .editor__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 57px 0 51px;
  }

  .editor__tools-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .editor__picture {
    margin: 0;
  }

  .editor__tools-list {
    flex-direction: column;
    width: 289px;
    margin: 0;
    justify-content: flex-start;
    padding: 0;
    padding-top: 9px;
  }

  .editor__tools-list li {
    display: flex;
    width: 255px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 51px;
  }

  .editor__crop-image {
    width: 22px;
    height: 22px;
  }

  .editor__fill-image {
    width: 24px;
    height: 22px;
    fill: @third-color;
  }

  .editor__contrast-image {
    width: 16px;
    height: 16px;
    fill: @third-color;
    margin-left: 5px;
  }

  .editor__crop-control {
    width: 202px;
    position: relative;
    margin-top: 0;
    left: 0;
  }

  .editor__control-toggle--crop {
    right: 43px;
  }

  .editor__crop {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 46px;
      right: -15px;
      width: 275px;
      height: 1px;
      background-color: rgba(40, 54, 69, 0.1);
    }
  }

  .editor__fill-control {
    display: block;
    width: 202px;
    height: 2px;
    background-color: @primary-color;
    position: relative;
  }

  .editor__control-toggle--fill {
    top: -6px;
    left: 25px;
  }

  .editor__fill {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 46px;
      right: -15px;
      width: 275px;
      height: 1px;
      background-color: rgba(40, 54, 69, 0.1);
    }
  }

  .editor__contrast-control {
    display: block;
    width: 202px;
    height: 2px;
    background-color: @primary-color;
    position: relative;
  }

  .editor__control-toggle--contrast {
    top: -6px;
    left: 94px;
  }

  .editor__contrast {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 43px;
      right: -15px;
      width: 275px;
      height: 1px;
      background-color: rgba(40, 54, 69, 0.1);
    }
  }

  .editor__image {
    width: 300px;
    height: 400px;
  }

  .editor__button-post {
    width: 260px;
    margin: 43px auto 24px;
  }

  .editor__button-cancel {
    width: 260px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .editor {
    margin-bottom: 30px;
  }

  .editor__title {
    padding-bottom: 63px;
  }

  .editor__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 57px 0 58px;
  }

  .editor__picture {
    margin-left: 80px;
    margin-right: 88px;
  }

  .editor__tools-wrapper {
    flex-direction: row;
    width: 410px;
  }

  .editor__tools-list {
    flex-direction: column;
    width: 382px;
    padding: 0;
  }

  .editor__tools-list li {
    width: 382px;
    margin-bottom: 29px;
  }

  .editor__crop-image {
    width: auto;
    height: auto;
  }

  .editor__crop-control {
    width: 288px;
  }

  .editor__control-toggle--crop {
    left: 70px;
  }

  .editor__crop {
    &::after {
      width: 410px;
      right: -28px;
      top: 58px;
    }
  }

  .editor__fill-control {
    width: 288px;
  }

  .editor__control-toggle--fill {
    left: 246px;
  }

  .editor__fill {
    position: relative;

    &::after {
      width: 410px;
      right: -28px;
      top: 58px;
    }
  }

  .editor__contrast-control {
    width: 288px;
  }

  .editor__control-toggle--contrast {
    left: 160px;
  }

  .editor__contrast {
    &::after {
      width: 410px;
      right: -28px;
      top: 51px;
    }
  }

  .editor__fill-image {
    width: auto;
    height: auto;
  }

  .editor__contrast-image {
    width: auto;
    height: auto;
  }

  .editor__button-post {
    width: 183px;
    margin: 0 44px 0 0;
    margin-top: auto;
  }

  .editor__button-cancel {
    width: 183px;
    margin-top: auto;
  }
}
