.page-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: @second-color;
  background-color: @primary-color;
}

.page-header__logo {
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding: 22px 0 25px;
}

.page-header__logo-link {
  display: block;
  width: 75px;
  height: 22px;
  margin-left: 20px;

  &:focus path {
    fill: @third-color;
  }
}

.page-header__logo-link svg {
  &:hover path {
    fill: @third-color;
  }

  &:active path {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    width: 100%;
    padding: 27px 0 42px;
    width: 660px;
  }

  .page-header__logo-link {
    width: 147px;
    height: 40px;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }  
}

@media (min-width: @desktop-width) {
  .page-header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__wrapper {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background: none;
  }

  .page-header__logo {
    border: none;
  }

  .page-header__logo-link {
    margin-left: 0;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }
}
