.page-main {
  width: 320px;
  margin: 0 auto;
  background-color: @second-color;
}

.page-main__title {
  font-size: 24px;
  font-weight: 300;
  padding: 100px 75px;
  color: @second-color;
  text-align: center;
  background-color: @primary-color;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
