.page-header {
  display: flex;
width: 100%;
  flex-direction: column;
  color: @second-color;
    background-color: @primary-color;
}

.page-header__wrapper{
  width: 320px;
  margin: 0 auto;
  
}

.page-header__logo {
  border-bottom: 1px solid black;
  padding: 22px 0 25px;
}

.page-header__logo-image {
  display: block;
  width: 75px;
  height: 22px;
  margin-left: 20px;
  
  &:focus path {
    fill: @third-color;
  }
}

.page-header__logo-image svg {
  &:hover path {
    fill: @third-color;
  }

  &:active path {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
 .page-header__wrapper{
  width: 660px;
}
  .page-header__logo {
    width: 100%;
      
  }

  .page-header__logo-image {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
 position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  
  }

  .page-header__wrapper {
    width: 940px;
    
    display: flex;
    flex-direction: row;
  background: none;
  }

  .page-header__logo {
    border: none;
     
  }
}
