.page-footer__wrapper {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-image {
  fill: @primary-color;
}

.page-footer__logo {
  margin-bottom: 37px;

  &:hover .page-footer__logo-image {
    fill: @third-color;
  }

  &:active .page-footer__logo-image {
    fill: rgb(40, 54, 69);
    opacity: 0.3;
  }
}

.page-footer__logo-image:active {
  fill: rgb(40, 54, 69);
  opacity: 0.3;
}

.page-footer__logo-image--desktop {
  display: none;
}

.page-footer__social {
  margin-bottom: 32px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.page-footer--index-mobile {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer--index-mobile {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 0 34px;
  }

  .page-footer__logo {
    margin: 0;
    margin-right: -20px;
    height: 55px;
  }

  .page-footer__social {
    margin: 0;
  }
}


@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 70px 0;
  }

  .page-footer__logo {
    margin-right: 13px;

    &:hover .page-footer__logo-image--desktop {
      fill: @third-color;
    }
  }

  .page-footer__logo-image--desktop:active {
    fill: rgb(40, 54, 69);
    opacity: 0.3;
  }

  .page-footer__logo-image {
    display: none;
  }

  .page-footer__logo-image--desktop {
    display: block;
    fill: @primary-color;
  }
}
