.page-header {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -160px;
  padding: 22px 20px;
  width: 280px;
  background-color: rgba(40, 54, 69, 0.3);
  color: @second-color;
}

.page-header__logo-image--tablet {
  display: none;
}

.page-header__logo-image--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__logo-image--mobile {
    display: none;
  }
    
  .page-header__logo-image--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 940px;
    display: flex;
    padding: 0;
  }
  
  .page-header__logo-image--tablet {
    display: none;
  }
    
  .page-header__logo-image--desktop {
    display: block;
  }
}
