.post-list {
  .list-mixin;
  display: flex;
  flex-wrap: wrap;
}

.post-list__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.post-list__image {
  display: block;
}

.post-list__description {
  background-color: #f2f2f2;
  padding: 17px 10px 20px 18px;
}

.post-list__author {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.post-list__how-long-ago {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.post-list__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 9px;
}

.post-list__likes {
  font-size: 12px;
  line-height: 24px;
  color: @third-color;
  text-transform: uppercase;
  padding-left: 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .post-list__item {
    width: 300px;
    margin-right: 20px;
  }

  .post-list__item:nth-child(2n) {
    margin-right: 0;
  }

  .post-list__image {
    width: 300px;
    height: 300px;
  }

  .post-list__description {
    display: flex;
    flex-direction: column;
    min-height: 109px;
    padding: 24px 10px 22px 27px;
  }

  .post-list__text {
    margin-bottom: 12px;
  }

  .post-list__likes {
    margin-top: auto;
    padding-left: 0;

    &::before {
      top: 3px;
      left: 229px;
    }
  }
}

@media (min-width: @desktop-width) {
  .post-list__item {
    margin-bottom: 55px;
    margin-right: 20px;
  }

  .post-list__item:nth-child(2n) {
    margin-right: 20px;
  }

  .post-list__item:nth-child(3n) {
    margin-right: 0;
  }

  .post-list__image {
    width: 300px;
    height: 400px;
  }
}
