.site-list {
  .list-mixin;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.site-list a {
  display: block;
  padding: 15px 0;
  color: @second-color;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.site-list a[href] {
  &:hover,
  &:focus {
    color: @third-color;
  }

  &:active {
    color: rgba(256, 256, 256, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
    justify-content: flex-end;
  }

  .site-list__item {
    border: none;
    margin-left: 80px;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 12px;
        left: 0;
        right: 0;
        height: 2px;
        background: @second-color;
      }
    }
  }

  .site-list a {
    padding: 26px 0;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    border: none;
  }
}
