.site-list {
  .list-mixin;
}


.site-list a {
  display: block;
  padding: 15px 0;
  color: @second-color;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.site-list a[href] {
  &:hover,
  &:focus {
    color: @third-color;
  }

  &:active {
    color: rgba(256, 256, 256, 0.3);
  }

}
@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
    
  .site-list {
    width: 625px;
    flex-direction: row;
      justify-content: space-between;
  }

  .site-list__item {
    border: none;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 35px;
        left: 0;
        right: 0;
        height: 2px;
        background: @second-color;
      }
    }
  }

  .site-list a {
    padding: 46px 0;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
   border: none;
  }
}
