.tariff {
  height: 575px;
}

.tariff__slider {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .tariff {
    height: auto;
    background-color: #f2f2f2;
    padding: 90px 0 70px;
    margin-bottom: 48px;
    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;  
  }

  .tariff__table {
    border-collapse: collapse;
  }

  .tariff__table tr {
    color: @primary-color;
    font-size: 14px;
    line-height: 30px;
  }

  .tariff__name--empty {
    background-color: #f2f2f2;
  }

  .tariff__name {
    color: #ffffff;
    background-color: @primary-color;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 33px 5px;
    text-align: center;

    &:nth-child(2) {
      border-right: 2px solid #e5e5e5;
      box-shadow: -2px 0 @primary-color;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    &:nth-child(3) {
      border-right: 2px solid #e5e5e5;
    }

    &:nth-child(4) {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      box-shadow: 2px 0 @primary-color;
    }
  }

  .tariff__price {
    font-size: 18px;
    font-weight: 300;
  }

  .tariff__table tr:not(:first-child) td {
    width: 25%;
    border: 2px solid #e5e5e5;
    padding: 7px 17px 7px 15px;
    background-color: @second-color;
  }

  .hit {
    position: relative;

    &::before {
      content: "ХИТ";
      font-weight: 600;
      transform: rotate(-45deg);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 61px;
      height: 61px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../../img/bg-hit-tablet.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 61px;
      height: 61px;
    }
  }

  .tariff__option-yes {
    font-size: 0;
    background-image: url("../../img/icon-yes-green.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tariff__option-no {
    font-size: 0;
    background-image: url("../../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .tariff__slider {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tariff {
    padding: 151px 0 95px;
    margin-bottom: 68px;

    &::before {
      top: -95px;
      right: 0;
      width: 100%;
      height: 95px;
    }
  }

  .tariff__table tr:not(:first-child) td {
    padding: 15px 17px 14px 20px;
  }

  .tariff__name {
    padding: 18px 66px 17px;
    font-size: 18px;
  }

  .hit {
    &::before {
      top: 7px;
      left: 5px;
    }

    &::after {
      background-image: url("../../img/bg-hit.svg");
      width: 74px;
      height: 73px;
    }
  }

  .tariff__table tr {
    .font-mixin;
  }

  .tariff__price {
    font-size: 24px;
  }
}
