.users-photos {
  background-color: @second-color;
  margin-bottom: 43px;
}

.users-photos__best {
  margin-bottom: 20px;
}

.users-photos__description {
  margin: 0 auto;
  padding: 45px 0 50px;
  width: 245px;
  background-color: @second-color;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .users-photos {
    margin-bottom: 67px;
  }

  .users-photos__best {
    margin-bottom: 50px;
  }

  .users-photos__description {
    font-size: 18px;
    padding: 92px 0 76px;
    width: 440px;
  }
}

@media (min-width: @desktop-width) {
  .users-photos {
    margin-bottom: 25px;
  }

  .users-photos__description {
    padding-bottom: 87px;
    width: 575px;
  }
}
